<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="baseDirectory" value="logs"/>
    <property name="pattern"
              value="%d{HH:mm:ss.SSS} [%boldYellow(%-30.30thread)] [%X{MDC_LOG_ID}] %highlight(%-5level) %boldGreen(%-40.40logger{39}){cyan} - %msg %n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.yiwise" level="DEBUG"/>
    <!-- 删掉下面一行可减少音频发送时的日志输出 -->
    <logger name="com.yiwise.asr.common.client.message" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
