<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="baseDirectory" value="logs"/>
    <property name="pattern"
              value="%d{HH:mm:ss.SSS} [%boldYellow(%-15.15thread)] [%X{MDC_LOG_ID}][%tid] %highlight(%-5level) %boldGreen(%-40.40logger{39}){cyan} - %msg %n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${pattern}</pattern>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.yiwise" level="DEBUG"/>
    <!-- 删掉下面一行可减少音频发送时的日志输出 -->
    <logger name="com.yiwise.asr.common.client.message" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
